node_modules

*.env

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

.next/*

# .v4p backup files
*~.xml

# Dynamic plugins .dll
bin/

#logs
*.log
